type StatusCoder interface {
    // StatusCode returns the HTTP status code for the error.
    StatusCode() int
}

var (
    // TotalRequests is a counter for the total number of requests by ALL operations.
    TotalRequests = promauto.NewCounterVec(prometheus.CounterOpts{
        Name: "total_requests",
        Help: "Total number of requests",
    }, []string{"code", "method"})

    {{ range . }}{{$opid := .OperationId}}
    // {{$opid}}TotalRequests is a counter for the total number of requests for {{$opid}}.
    {{ $opid }}TotalRequests = promauto.NewCounterVec(prometheus.CounterOpts{
        Name: "{{ $opid | lower }}_total_requests",
        Help: "Total number of requests for {{ $opid }}",
    }, []string{"code", "method"})

    // {{$opid}}RequestDuration is a histogram for the request duration for {{$opid}}.
    {{ $opid }}RequestDuration = promauto.NewHistogramVec(prometheus.HistogramOpts{
        Name:    "{{ $opid | lower }}_request_duration_seconds",
        Help:    "Request duration in seconds for {{ $opid }}",
        Buckets: prometheus.DefBuckets,
    }, []string{"code", "method"})

    {{ if ne .Method "GET" -}}
    // {{$opid}}RequestSize is a histogram for the request size for {{$opid}}.
    {{ $opid }}RequestSize = promauto.NewHistogramVec(prometheus.HistogramOpts{
        Name:    "{{ $opid | lower }}_request_size_bytes",
        Help:    "Request size in bytes for {{ $opid }}",
        Buckets: prometheus.DefBuckets,
    }, []string{"code", "method"})
    {{ end }}

    // {{$opid}}ResponseSize is a histogram for the response size for {{$opid}}.
    {{ $opid }}ResponseSize = promauto.NewHistogramVec(prometheus.HistogramOpts{
        Name:    "{{ $opid | lower }}_response_size_bytes",
        Help:    "Response size in bytes for {{ $opid }}",
        Buckets: prometheus.DefBuckets,
    }, []string{"code", "method"})
    {{ end }}
)

// ServerInterfaceWrapper converts contexts to parameters.
type ServerInterfaceWrapper struct {
    l *slog.Logger
    isInternalAPI bool
    Handler ServerInterface
    HandlerMiddlewares []MiddlewareFunc
    ErrorHandlerFunc func(w http.ResponseWriter, r *http.Request, err error)
}

// MiddlewareFunc is a function that takes an http.Handler and returns an http.Handler.
type MiddlewareFunc func(http.Handler) http.Handler

// ServerOption is a function that modifies the ServerInterfaceWrapper.
type ServerOption func(*ServerInterfaceWrapper)

// WithLogger sets the logger for the ServerInterfaceWrapper.
func WithLogger(logger *slog.Logger) ServerOption {
    return func(siw *ServerInterfaceWrapper) {
        siw.l = logger
    }
}

// WithInternalAPI sets whether the ServerInterfaceWrapper is for an internal API.
func WithInternalAPI(isInternal bool) ServerOption {
    return func(siw *ServerInterfaceWrapper) {
        siw.isInternalAPI = isInternal
    }
}

// WithErrorHandlerFunc sets the error handler function for the ServerInterfaceWrapper.
func WithErrorHandlerFunc(handlerFunc func(w http.ResponseWriter, r *http.Request, err error)) ServerOption {
    return func(siw *ServerInterfaceWrapper) {
        siw.ErrorHandlerFunc = handlerFunc
    }
}

// WithMiddlewareFunc adds a middleware function to the ServerInterfaceWrapper.
func WithMiddlewareFunc(middleware MiddlewareFunc) ServerOption {
    return func(siw *ServerInterfaceWrapper) {
        if siw.HandlerMiddlewares == nil {
            siw.HandlerMiddlewares = make([]MiddlewareFunc, 0)
        }
        siw.HandlerMiddlewares = append(siw.HandlerMiddlewares, middleware)
    }
}

{{range .}}{{$opid := .OperationId}}

// {{$opid}} operation middleware
func (siw *ServerInterfaceWrapper) {{$opid}}(w http.ResponseWriter, r *http.Request) {
  ctx := r.Context()

  {{- if or .RequiresParamObject (gt (len .PathParams) 0) }}
  var err error
  {{end}}

  {{range .PathParams}}// ------------- Path parameter "{{.ParamName}}" -------------
  var {{$varName := .GoVariableName}}{{$varName}} {{.TypeDef}}

  {{if .IsPassThrough}}
  {{$varName}} = mux.Vars(r)["{{.ParamName}}"]
  {{end}}
  {{if .IsJson}}
  err = json.Unmarshal([]byte(mux.Vars(r)["{{.ParamName}}"]), &{{$varName}})
  if err != nil {
    siw.ErrorHandlerFunc(w, r, &UnmarshalingParamError{ParamName: "{{.ParamName}}", Err: err})
    return
  }
  {{end}}
  {{if .IsStyled}}
  err = runtime.BindStyledParameterWithOptions("{{.Style}}", "{{.ParamName}}", mux.Vars(r)["{{.ParamName}}"], &{{$varName}}, runtime.BindStyledParameterOptions{Explode: {{.Explode}}, Required: {{.Required}}})
  if err != nil {
    siw.ErrorHandlerFunc(w, r, &InvalidParamFormatError{ParamName: "{{.ParamName}}", Err: err})
    return
  }
  {{end}}

  {{end}}

  {{if .SecurityDefinitions -}}
  ctx := r.Context()
{{range .SecurityDefinitions}}
  ctx = context.WithValue(ctx, {{.ProviderName | sanitizeGoIdentity | ucFirst}}Scopes, {{toStringArray .Scopes}})
{{end}}
  r = r.WithContext(ctx)
  {{end}}

  {{if .RequiresParamObject}}
    // Parameter object where we will unmarshal all parameters from the context
    var params {{.OperationId}}Params

    {{range $paramIdx, $param := .QueryParams}}
      {{- if (or (or .Required .IsPassThrough) (or .IsJson .IsStyled)) -}}
        // ------------- {{if .Required}}Required{{else}}Optional{{end}} query parameter "{{.ParamName}}" -------------
      {{ end }}
      {{ if (or (or .Required .IsPassThrough) .IsJson) }}
        if paramValue := r.URL.Query().Get("{{.ParamName}}"); paramValue != "" {

        {{if .IsPassThrough}}
          params.{{.GoName}} = {{if .HasOptionalPointer}}&{{end}}paramValue
        {{end}}

        {{if .IsJson}}
          var value {{.TypeDef}}
          err = json.Unmarshal([]byte(paramValue), &value)
          if err != nil {
            siw.ErrorHandlerFunc(w, r, &UnmarshalingParamError{ParamName: "{{.ParamName}}", Err: err})
            return
          }

          params.{{.GoName}} = {{if .HasOptionalPointer}}&{{end}}value
        {{end}}
        }{{if .Required}} else {
            siw.ErrorHandlerFunc(w, r, &RequiredParamError{ParamName: "{{.ParamName}}"})
            return
        }{{end}}
      {{end}}
      {{if .IsStyled}}
      err = runtime.BindQueryParameter("{{.Style}}", {{.Explode}}, {{.Required}}, "{{.ParamName}}", r.URL.Query(), &params.{{.GoName}})
      if err != nil {
        siw.ErrorHandlerFunc(w, r, &InvalidParamFormatError{ParamName: "{{.ParamName}}", Err: err})
        return
      }
      {{end}}
  {{end}}

    {{if .HeaderParams}}
      headers := r.Header

      {{range .HeaderParams}}// ------------- {{if .Required}}Required{{else}}Optional{{end}} header parameter "{{.ParamName}}" -------------
        if valueList, found := headers[http.CanonicalHeaderKey("{{.ParamName}}")]; found {
          var {{.GoName}} {{.TypeDef}}
          n := len(valueList)
          if n != 1 {
            siw.ErrorHandlerFunc(w, r, &TooManyValuesForParamError{ParamName: "{{.ParamName}}", Count: n})
            return
          }

        {{if .IsPassThrough}}
          params.{{.GoName}} = {{if .HasOptionalPointer}}&{{end}}valueList[0]
        {{end}}

        {{if .IsJson}}
          err = json.Unmarshal([]byte(valueList[0]), &{{.GoName}})
          if err != nil {
            siw.ErrorHandlerFunc(w, r, &UnmarshalingParamError{ParamName: "{{.ParamName}}", Err: err})
            return
          }
        {{end}}

        {{if .IsStyled}}
          err = runtime.BindStyledParameterWithOptions("{{.Style}}", "{{.ParamName}}", valueList[0], &{{.GoName}}, runtime.BindStyledParameterOptions{ParamLocation: runtime.ParamLocationHeader, Explode: {{.Explode}}, Required: {{.Required}}})
          if err != nil {
            siw.ErrorHandlerFunc(w, r, &InvalidParamFormatError{ParamName: "{{.ParamName}}", Err: err})
            return
          }
        {{end}}

          params.{{.GoName}} = {{if .HasOptionalPointer}}&{{end}}{{.GoName}}

        } {{if .Required}}else {
            err = fmt.Errorf("Header parameter {{.ParamName}} is required, but not found")
            siw.ErrorHandlerFunc(w, r, &RequiredHeaderError{ParamName: "{{.ParamName}}", Err: err})
            return
        }{{end}}

      {{end}}
    {{end}}

    {{range .CookieParams}}
    {
      var cookie *http.Cookie

      if cookie, err = r.Cookie("{{.ParamName}}"); err == nil {

      {{- if .IsPassThrough}}
        params.{{.GoName}} = {{if .HasOptionalPointer}}&{{end}}cookie.Value
      {{end}}

      {{- if .IsJson}}
        var value {{.TypeDef}}
        var decoded string
        decoded, err := url.QueryUnescape(cookie.Value)
        if err != nil {
          err = fmt.Errorf("Error unescaping cookie parameter '{{.ParamName}}'")
          siw.ErrorHandlerFunc(w, r, &UnescapedCookieParamError{ParamName: "{{.ParamName}}", Err: err})
          return
        }

        err = json.Unmarshal([]byte(decoded), &value)
        if err != nil {
          siw.ErrorHandlerFunc(w, r, &UnmarshalingParamError{ParamName: "{{.ParamName}}", Err: err})
          return
        }

        params.{{.GoName}} = {{if .HasOptionalPointer}}&{{end}}value
      {{end}}

      {{- if .IsStyled}}
        var value {{.TypeDef}}
        err = runtime.BindStyledParameterWithOptions("simple", "{{.ParamName}}", cookie.Value, &value, runtime.BindStyledParameterOptions{Explode: {{.Explode}}, Required: {{.Required}}})
        if err != nil {
          siw.ErrorHandlerFunc(w, r, &InvalidParamFormatError{ParamName: "{{.ParamName}}", Err: err})
          return
        }
        params.{{.GoName}} = {{if .HasOptionalPointer}}&{{end}}value
      {{end}}

      }

      {{- if .Required}} else {
        siw.ErrorHandlerFunc(w, r, &RequiredParamError{ParamName: "{{.ParamName}}"})
        return
      }
      {{- end}}
    }
    {{end}}
  {{end}}

  handler := http.Handler(http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
    // Log the request
    l := siw.l.With(
        slog.String("method", r.Method),
        slog.String("path", r.URL.Path),
        slog.String("request_id", uhttp.RequestIDFromContext(ctx)),
    )

    l.Debug("Handling request")

    {{ if eq (len .Bodies) 1 }}
        {{- $body := (index .Bodies 0) -}}
            decoder := json.NewDecoder(r.Body)
            if !siw.isInternalAPI {
                decoder.DisallowUnknownFields()
            }

            var body {{$opid}}JSONBody
            if err := decoder.Decode(&body); err != nil {
                siw.ErrorHandlerFunc(w, r, &UnmarshalingParamError{ParamName: "body", Err: err})
                return
            }
    {{ end }}

    {{- $method := .Method | lower }}
    {{ $responseCode := "500" }}
    {{- $hasContentRange := false }}
    {{ range $k, $v := .Spec.Responses.Map -}}
        {{ if or (eq $k "200") (eq $k "201") (eq $k "202") (eq $k "204") }}{{ $responseCode = $k }}{{ end -}}
        {{ range $header, $unused := $v.Value.Headers }}
            {{ if eq $header "Content-Range" }}{{ $hasContentRange = true }}{{ end }}
        {{ end }}
    {{ end }}

    {{ if or (and (eq $method "delete") (ne $responseCode "202")) (and (eq $method "patch") (eq $responseCode "204")) }}_{{ else }}resp{{ end }}, {{ if $hasContentRange }}contentRange,{{ end }} err := siw.Handler.{{.OperationId}}(ctx, l{{genParamNames .PathParams}}{{if .RequiresParamObject}}, &params{{end}}{{if gt (len .Bodies) 0}}, &body{{end}})
    if err != nil {
        siw.ErrorHandlerFunc(w, r, err)
        return
    }

        {{/*
            Always return a StatusNoContent on delete operations that are not async.
            Return the same for patch operations with response 204.
        */ -}}
        {{- if or (and (eq $method "delete") (ne $responseCode "202")) (and (eq $method "patch") (eq $responseCode "204")) }}
        {{ if eq $responseCode "200" }}w.WriteHeader(http.StatusOK){{ else }}w.WriteHeader(http.StatusNoContent){{ end }}
        return
        {{- else }}
        {{- $responseCode := "500" }}
        {{- $contentType := "application/json" }}
        {{ range $k, $v := .Spec.Responses.Map -}}
            {{ if or (eq $k "200") (eq $k "201") (eq $k "202") (eq $k "204") }}
            {{ $responseCode = $k }}
            {{ range $ct, $unused := $v.Value.Content }}
                {{ $contentType = $ct }}
            {{ end }}
        {{ end -}}
    {{ end }}
        {{- if and $hasContentRange -}}
            if contentRange != nil {
                w.Header().Set("Content-Range", contentRange.HeaderValue())
            }
        {{- end }}
        w.Header().Set("Content-Type", "{{ $contentType }}; charset=utf-8")
        w.WriteHeader({{ $responseCode }})
    {{ if eq $contentType "application/json" }}
    if err := json.NewEncoder(w).Encode(resp); err != nil {
        siw.ErrorHandlerFunc(w, r, err)
        return
    }
    {{ end -}}
    {{ if or (eq $contentType "text/plain") (eq $contentType "application/octet-stream") -}}
        w.Header().Set("Content-Length", strconv.Itoa(len(resp)))
        _, err = w.Write(resp)
    {{ end -}}
    {{- end -}}
  }))

  {{if opts.Compatibility.ApplyGorillaMiddlewareFirstToLast}}
  for i := len(siw.HandlerMiddlewares) -1; i >= 0; i-- {
    handler = siw.HandlerMiddlewares[i](handler)
  }
  {{else}}
  for _, middleware := range siw.HandlerMiddlewares {
    handler = middleware(handler)
  }
  {{end}}

  handler.ServeHTTP(w, r)
}
{{end}}

// handleError handles returning a correctly-formatted error to the API caller.
func handleError(ctx context.Context, l *slog.Logger, w http.ResponseWriter, err error) {
    l.Error("Error handling request", slog.String(logging.KeyError, err.Error()))

    e := new(uhttp.HTTPError)
    if errors.As(err, &e) {
      e.RequestId = uhttp.RequestIDFromContext(ctx)
      _ = encodeErrorResponse(w, e)
      return
    }

    code := http.StatusInternalServerError
    if e, ok := err.(uhttp.StatusCoder); ok {
        code = e.StatusCode()
    }

	_ = encodeErrorResponse(w, &uhttp.HTTPError{
		ErrorMessage: common.ErrorMessage{
			Title:     http.StatusText(code),
			Detail:    "error handling request",
			Status:    code,
			RequestId: uhttp.RequestIDFromContext(ctx),
			Details: []any{
				err.Error(),
			},
		},
	})
}

// encodeErrorResponse encodes input response as an RFC-7807-compliant response to w.
func encodeErrorResponse(w http.ResponseWriter, response any) error {
    w.Header().Set(uhttp.HeaderContentType, "application/problem+json; charset=utf-8")

    if e, ok := response.(StatusCoder); ok {
        w.WriteHeader(e.StatusCode())
    }

    return json.NewEncoder(w).Encode(response)
}

type UnescapedCookieParamError struct {
    ParamName string
    Err error
}

func (e *UnescapedCookieParamError) Error() string {
    return fmt.Sprintf("error unescaping cookie parameter '%s'", e.ParamName)
}

func (e *UnescapedCookieParamError) Unwrap() error {
    return e.Err
}

type UnmarshalingParamError struct {
    ParamName string
    Err error
}

func (e *UnmarshalingParamError) Error() string {
    return fmt.Sprintf("Error unmarshaling parameter %s as JSON: %s", e.ParamName, e.Err.Error())
}

func (e *UnmarshalingParamError) Unwrap() error {
    return e.Err
}

type RequiredParamError struct {
    ParamName string
}

func (e *RequiredParamError) Error() string {
    return fmt.Sprintf("Query argument %s is required, but not found", e.ParamName)
}

type RequiredHeaderError struct {
    ParamName string
    Err error
}

func (e *RequiredHeaderError) Error() string {
    return fmt.Sprintf("Header parameter %s is required, but not found", e.ParamName)
}

func (e *RequiredHeaderError) Unwrap() error {
    return e.Err
}

type InvalidParamFormatError struct {
    ParamName string
	  Err error
}

func (e *InvalidParamFormatError) Error() string {
    return fmt.Sprintf("Invalid format for parameter %s: %s", e.ParamName, e.Err.Error())
}

func (e *InvalidParamFormatError) Unwrap() error {
    return e.Err
}

type TooManyValuesForParamError struct {
    ParamName string
    Count int
}

func (e *TooManyValuesForParamError) Error() string {
    return fmt.Sprintf("Expected one value for %s, got %d", e.ParamName, e.Count)
}
